<h3> New program: </h3>
<%= form_for :program, url: programs_path do |f| %>
    <p>
      <%= f.label :training_type %><br>
      <%= f.select :training_type, Program::TRAINING_TYPE  %>
    </p>
    <p>
      <%= f.label :training_place %><br>
      <%= f.select :training_place, Program::TRAINING_PLACE  %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

