<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.number_field :experience %>
  </div>
  <div class="field">
    <%= f.label :activity %><br>
    <%= f.number_field :activity %>
  </div>
  <div class="field">
    <%= f.label :physical_level %><br>
    <%= f.number_field :physical_level %>
  </div>
  <div class="field">
    <%= f.label :complexity %><br>
    <%= f.number_field :complexity %>
  </div>
  <div class="field">
    <%= f.label :training_type %><br>
    <%= f.number_field :training_type %>
  </div>
  <div class="field">
    <%= f.label :stature %><br>
    <%= f.number_field :stature %>
  </div>
  <div class="field">
    <%= f.label :blood_pressure %><br>
    <%= f.number_field :blood_pressure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
