<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user.height %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @user.experience %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @user.activity %>
</p>

<p>
  <strong>Physical level:</strong>
  <%= @user.physical_level %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @user.complexity %>
</p>

<p>
  <strong>Training type:</strong>
  <%= @user.training_type %>
</p>

<p>
  <strong>Stature:</strong>
  <%= @user.stature %>
</p>

<p>
  <strong>Blood pressure:</strong>
  <%= @user.blood_pressure %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
